
.chat-body form
{
 position: absolute;
 bottom: 0;
 min-width: 320px;
 overflow: hidden;
}
.chat-body {
       height:100%;
}
.chat-content {
    height: 355px;
    overflow: auto;
    padding-right: 3px;
}
.chat-panel {
  width: 385px;
}
.chat-form div {
  text-align: center;
}
form input
{
    border: 0;
    margin-right: .5%;
    padding: 10px;
    width: 8%;
    border :1px solid #ccc; 
}
form textarea {
    padding: 10px;
    margin: 0px;
    width: 284px;
    height: 44px;
}
form button {
    background: #F18602;
    border: none;
    padding: 11px;
    width: 66px;
}
.broadcast {
    position: absolute;
}
.chat-top-bar {
    width: 100%;
    height: 35px;
    background: #F18602;
    border-radius: 8px 5px 0 0;
    cursor: move;
}
.chat-close{
    color: #fff;
      position: absolute;
  right: 7px;
  top: 7px;
  height: 24px;
  width: 24px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  font-size: 25px;
}
.chat-minimize{
    color: #fff;
      position: absolute;
  right: 31px;
  top: 5px;
  height: 24px;
  width: 24px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  font-size: 25px;
}
#messages
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#messages li.client
{
    height: 50px;
    padding: 5px;
    background-image: url('../img/user.png');
    background-repeat: no-repeat;
    background-position: right; 
    padding-right: 50px;
    text-align: left;
}
#messages li.agent
{
      height: 50px;
    background-image: url('../img/agent.png');
    background-color: wheat;
    background-repeat: no-repeat;
    background-position: left; 
    padding-left: 50px;
    text-align: right;
}
.chat-panel {
    min-width: 315px;
}

/*.chat-panel {
    width: 320px;
    height: 365px;
    position: fixed;
    bottom: 0;
    -webkit-box-shadow: -1px -2px 73px -14px rgba(0,0,0,0.67);
    -moz-box-shadow: -1px -2px 73px -14px rgba(0,0,0,0.67);
    box-shadow: -1px -2px 73px -14px rgba(0,0,0,0.67);
    border-radius: 8px 5px 0 0
}.chat-panel-hidden {
    width: 320px;
    height: 365px;
    position: absolute;
    bottom:-330px;
}*/
.chat-form-field {
  width: 282px;
  margin-bottom: 15px;
}
#m {
    width: 67%;
}
::-webkit-scrollbar {
    background-color: #FFF3DF;
    opacity: 0;
    }
::-webkit-scrollbar-thumb   {
    background-color: #F18602;
}
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}
